<img src="Logo.png" width="100" align="left"/> 

# <center>Data Analytics project:</center>



Congratulations on finishing the lessons content for this second unit !

We have seen a lot of concepts in the second unit and we had the chance to test some of them. Now, we get to see how these different concepts are used to better understand our data.

## Some guidelines: 
1. To run a cell you can use the shortcut use : Shift + Enter

2. Only sections mentioned as To-Do are the places where you should put in your own code other than that we do not recommend that you change the provided code.

3. You will be graded for the visibility of your code so make sure you respect the correct indentation and that your code contains suitable variables names.

4. This notebook is designed in a sequential way so if you solve your project on different days make sure to run the previous cells before you can run the one you want.

5. Teacher assistants in the slack space remain available to answer any questions you might have.

>Best of luck !

## Project Sections:
In this project you will practice some of the concepts seen in the data analytics unit, you will deal with a real dataset. This dataset contains house sale prices for King County. It includes homes sold between May 2014 and May 2015.

Our goal is to analyze this dataset, clean it then create a simple linear regression model using it.

This project is devided into n sections : 
1. [Setting the environement](#set_env)

2. [Importing necessary tools](#importing)

3. [Dataset discovery](#dataset_discovery)

4. [NA handling](#na_handling)

5. [Useless variables deletion](#useless_var)

6. [Outliers detection](#outliers)

7. [Feature selection](#feature_selection)

8. [Linear regression](#linear_reg)

### 1. Setting the environement:  <a id='set_env'></a>

In [1]:
# Make sure you have virtualenv installed 
!pip install --user virtualenv

Requirement already satisfied: virtualenv in c:\users\admin\appdata\roaming\python\python38\site-packages (20.10.0)
Requirement already satisfied: platformdirs<3,>=2 in c:\users\admin\appdata\roaming\python\python38\site-packages (from virtualenv) (2.4.0)
Requirement already satisfied: backports.entry-points-selectable>=1.0.4 in c:\users\admin\appdata\roaming\python\python38\site-packages (from virtualenv) (1.1.1)
Requirement already satisfied: filelock<4,>=3.2 in c:\users\admin\appdata\roaming\python\python38\site-packages (from virtualenv) (3.4.0)
Requirement already satisfied: distlib<1,>=0.3.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from virtualenv) (0.3.3)
Requirement already satisfied: six<2,>=1.9.0 in c:\users\admin\anaconda3\lib\site-packages (from virtualenv) (1.15.0)

In [2]:
# To-Do: create a virtual environement called data_analytics
!python -m venv data_analytics

In [3]:
# Activate the environement for windows
!source data_analytics/bin/activate

'source' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
# Activate the environement for linux (debian based)
!. data_analytics/bin/activate

'.' is not recognized as an internal or external command,
operable program or batch file.

### 2. Importing necessary tools:<a id='importing'></a>

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 3. Dataset discovery:<a id='dataset_discovery'></a>

In [6]:
# To-Do: Read the file ("kc_house_data.csv") using pandas and store in a dataframe called df
df = pd.read_csv("kc_house_data.csv")
# To-Do: Print the dataframe's shape
df.shape

(21613, 21)

In [7]:
# To-Do: Print the dataframe's info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21606 non-null  object
 2   price          21608 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21612 non-null  float64
 6   sqft_lot       21612 non-null  float64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21609 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21611 non-null  float64
 15  yr_renovated   21612 non-null  float64
 16  zipcode        21611 non-null  float64
 17  lat            21612 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21612 non-null  float64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(12), int64(8), object(1)
memory usage: 3.5+ MB

### 4. NA handling:<a id='na_handling'></a>
It is clear after printing the dataset info that there are some variables that have less entries than the number of rows which means that some of them don't have values in certain rows.

Given the number of the na values, what do you think is the best method to deal with them?

In [8]:
df.isna().sum().sum()

25

In [9]:
# Which columns ?
df.columns[df.isna().any()]
# we can't use imputation cuz there is date ( categorical )

Index(['date', 'price', 'sqft_living', 'sqft_lot', 'sqft_above', 'yr_built',
       'yr_renovated', 'zipcode', 'lat', 'sqft_living15'],
      dtype='object')

In [10]:
# To-Do: deal with the NAs in your dataset in one line
df.dropna(inplace=True)

### 5. Useless variables deletion:<a id='useless_var'></a>
We want to eventually do a regression on it so naturally some variables bring no added value and can be delted without impacting the results.

Delete the column that correspond to variables that aren't needed.

In [11]:
# To-Do: delete the values of the variables that are useless
df.drop('date', inplace=True, axis=1) 
df.drop('id', inplace=True, axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21588 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21588 non-null  float64
 1   bedrooms       21588 non-null  int64
 2   bathrooms      21588 non-null  float64
 3   sqft_living    21588 non-null  float64
 4   sqft_lot       21588 non-null  float64
 5   floors         21588 non-null  float64
 6   waterfront     21588 non-null  int64
 7   view           21588 non-null  int64
 8   condition      21588 non-null  int64
 9   grade          21588 non-null  int64
 10  sqft_above     21588 non-null  float64
 11  sqft_basement  21588 non-null  int64
 12  yr_built       21588 non-null  float64
 13  yr_renovated   21588 non-null  float64
 14  zipcode        21588 non-null  float64
 15  lat            21588 non-null  float64
 16  long           21588 non-null  float64
 17  sqft_living15  21588 non-null  float64
 18  sqft_lot15     21588 non-null  int64
dtypes: float64(12), int64(7)
memory usage: 3.3 MB

### A wild playground appears !!
In the next cell, go wild with the dataset discovery.
You can calculate the mean, the median or do anything you want to learn more the data.

<b>Pro tip :</b> 
Sometimes you might want to know how many unique variables a column has, to do so you can use the padas function :

<center>pd.unique(df['column_name'])</center>

In [13]:
# To-Do : get to know more your data WITHOUT modifying it !!
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.158800e+04,21588.000000,21588.000000,21588.000000,2.158800e+04,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000,21588.000000
mean,5.401545e+05,3.370576,2.114670,2079.916528,1.511370e+04,1.494187,0.007550,0.234297,3.409626,7.656985,1788.385353,291.531175,1971.004910,84.408329,98077.940661,47.560054,-122.213889,1986.594265,12771.769826
std,3.671493e+05,0.929870,0.770085,918.538221,4.144320e+04,0.539989,0.086567,0.766200,0.650932,1.175540,828.218416,442.624173,29.365908,401.694992,53.509654,0.138558,0.140825,685.364986,27316.243753
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219875e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230500,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.250000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

### 6.Outliers detection:<a id='outliers'></a>
Having outliers is a common problem that might affect the quality of the model that we're building.

Let's assume that we're not interested in very expensive or very cheap houses, we want a model that best fits the average priced houses.

To create such a model, we detect outliers and delete them using the Z-score method seen in the lessons.

In [14]:
# To-Do : detect the outliers then delete them ad delete the column created to calculate the Z-score
#Spot the possible outliers in your dataset and get rid of them.
# 1. Calculate Zscore 
for col in df.describe().columns:
    col_zscore = col +'_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std()

In [15]:
# 0-- 18 are the original columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21588 entries, 0 to 21612
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   price                 21588 non-null  float64
 1   bedrooms              21588 non-null  int64
 2   bathrooms             21588 non-null  float64
 3   sqft_living           21588 non-null  float64
 4   sqft_lot              21588 non-null  float64
 5   floors                21588 non-null  float64
 6   waterfront            21588 non-null  int64
 7   view                  21588 non-null  int64
 8   condition             21588 non-null  int64
 9   grade                 21588 non-null  int64
 10  sqft_above            21588 non-null  float64
 11  sqft_basement         21588 non-null  int64
 12  yr_built              21588 non-null  float64
 13  yr_renovated          21588 non-null  float64
 14  zipcode               21588 non-null  float64
 15  lat                   21588 non-null  float64
 16  long                  21588 non-null  float64
 17  sqft_living15         21588 non-null  float64
 18  sqft_lot15            21588 non-null  int64
 19  price_zscore          21588 non-null  float64
 20  bedrooms_zscore       21588 non-null  float64
 21  bathrooms_zscore      21588 non-null  float64
 22  sqft_living_zscore    21588 non-null  float64
 23  sqft_lot_zscore       21588 non-null  float64
 24  floors_zscore         21588 non-null  float64
 25  waterfront_zscore     21588 non-null  float64
 26  view_zscore           21588 non-null  float64
 27  condition_zscore      21588 non-null  float64
 28  grade_zscore          21588 non-null  float64
 29  sqft_above_zscore     21588 non-null  float64
 30  sqft_basement_zscore  21588 non-null  float64
 31  yr_built_zscore       21588 non-null  float64
 32  yr_renovated_zscore   21588 non-null  float64
 33  zipcode_zscore        21588 non-null  float64
 34  lat_zscore            21588 non-null  float64
 35  long_zscore           21588 non-null  float64
 36  sqft_living15_zscore  21588 non-null  float64
 37  sqft_lot15_zscore     21588 non-null  float64
dtypes: float64(31), int64(7)
memory usage: 6.4 MB

In [16]:
# 2. Delete them
N = 19 # number of z_score added columns 
# Select last N columns of our dataframe
last_n_column  = df.iloc[: , -N:]
for col in last_n_column :
    df = df[abs(df[col])<=3] # remove the outliers

In [17]:
# 3. delete the column created to calculate the Z-score
df.drop(df.iloc[:, 19:38], inplace = True, axis = 1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18680 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          18680 non-null  float64
 1   bedrooms       18680 non-null  int64
 2   bathrooms      18680 non-null  float64
 3   sqft_living    18680 non-null  float64
 4   sqft_lot       18680 non-null  float64
 5   floors         18680 non-null  float64
 6   waterfront     18680 non-null  int64
 7   view           18680 non-null  int64
 8   condition      18680 non-null  int64
 9   grade          18680 non-null  int64
 10  sqft_above     18680 non-null  float64
 11  sqft_basement  18680 non-null  int64
 12  yr_built       18680 non-null  float64
 13  yr_renovated   18680 non-null  float64
 14  zipcode        18680 non-null  float64
 15  lat            18680 non-null  float64
 16  long           18680 non-null  float64
 17  sqft_living15  18680 non-null  float64
 18  sqft_lot15     18680 non-null  int64
dtypes: float64(12), int64(7)
memory usage: 2.9 MB

### 7.Feature selection:<a id='feature_selection'></a>
It is clear that even after deleting some features, there might be other features that aren't obviously useless but can be delted and keep a good overall performance.

To verify this, we perform feature selection on our variables.

In [19]:
# To-Do : perform feature selection using correlation
df.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
price,1.000000,0.302698,0.442739,0.622011,0.100983,0.276244,NaN,0.182384,0.049764,0.634539,0.533094,0.210767,0.064902,NaN,-0.042012,0.428218,0.075686,0.550750,0.092859
bedrooms,0.302698,1.000000,0.488803,0.608700,0.112899,0.160276,NaN,0.038854,0.023324,0.334123,0.485524,0.272352,0.176567,NaN,-0.178906,-0.042376,0.183565,0.406681,0.114508
bathrooms,0.442739,0.488803,1.000000,0.711326,0.063611,0.519361,NaN,0.066297,-0.145727,0.618980,0.632696,0.198889,0.586004,NaN,-0.232429,-0.005798,0.288813,0.537777,0.067103
sqft_living,0.622011,0.608700,0.711326,1.000000,0.231284,0.356802,NaN,0.122572,-0.074844,0.711378,0.857297,0.338393,0.371096,NaN,-0.228293,0.029337,0.317224,0.750123,0.234865
sqft_lot,0.100983,0.112899,0.063611,0.231284,1.000000,-0.101556,NaN,0.031356,0.045785,0.142843,0.213217,0.050961,0.023232,NaN,-0.180524,-0.052356,0.272417,0.270206,0.817155
floors,0.276244,0.160276,0.519361,0.356802,-0.101556,1.000000,NaN,-0.016824,-0.288807,0.473638,0.538157,-0.303811,0.538010,NaN,-0.068929,0.036719,0.153725,0.280142,-0.104807
waterfront,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
view,0.182384,0.038854,0.066297,0.122572,0.031356,-0.016824,NaN,1.000000,0.033871,0.106320,0.041672,0.157376,-0.060817,NaN,0.083944,0.009866,-0.077069,0.142871,0.018126
condition,0.049764,0.023324,-0.145727,-0.074844,0.045785,-0.288807,NaN,0.033871,1.000000,-0.182932,-0.184541,0.194702,-0.399269,NaN,-0.000336,-0.008328,-0.100875,-0.119366,0.053759
grade,0.634539,0.334123,0.618980,0.711378,0.142843,0.473638,NaN,0.106320,-0.182932,1.000000,0.716218,0.046324,0.499230,NaN,-0.200274,0.102621,0.253704,0.676212,0.157789
sqft_above,0.533094,0.485524,0.632696,0.857297,0.213217,0.538157,NaN,0.041672,-0.184541,0.716218,1.000000,-0.194347,0.473954,NaN,-0.288715,-0.029506,0.420201,0.731676,0.222223
sqft_basement,0.210767,0.272352,0.198889,0.338393,0.050961,-0.303811,NaN,0.157376,0.194702,0.046324,-0.194347,1.000000,-0.159225,NaN,0.092737,0.109830,-0.163621,0.091895,0.041324
yr_built,0.064902,0.176567,0.586004,0.371096,0.023232,0.538010,NaN,-0.060817,-0.399269,0.499230,0.473954,-0.159225,1.000000,NaN,-0.339516,-0.154789,0.427602,0.356600,0.043315
yr_renovated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,-0.042012,-0.178906,-0.232429,-0.228293,-0.180524,-0.068929,NaN,0.083944,-0.000336,-0.200274,-0.288715,0.092737,-0.339516,NaN,1.000000,0.279121,-0.575724,-0.305804,-0.195868
lat,0.428218,-0.042376,-0.005798,0.029337,-0.052356,0.036719,NaN,0.009866,-0.008328,0.102621,-0.029506,0.109830,-0.154789,NaN,0.279121,1.000000,-0.125656,0.028359,-0.051562
long,0.075686,0.183565,0.288813,0.317224,0.272417,0.153725,NaN,-0.077069,-0.100875,0.253704,0.420201,-0.163621,0.427602,NaN,-0.575724,-0.125656,1.000000,0.414549,0.307652
sqft_living15,0.550750,0.406681,0.537777,0.750123,0.270206,0.280142,NaN,0.142871,-0.119366,0.676212,0.731676,0.091895,0.356600,NaN,-0.305804,0.028359,0.414549,1.000000,0.298964
sqft_lot15,0.092859,0.114508,0.067103,0.234865,0.817155,-0.104807,NaN,0.018126,0.053759,0.157789,0.222223,0.041324,0.043315,NaN,-0.195868,-0.051562,0.307652,0.298964,1.000000

In [20]:
# To-Do : drop the variables that seem highly correlated to you
# Remove three columns with corr > 0.5 , except the var with the highest correlation with the price 
df.drop(df.columns[[3, 10, 17]], axis = 1, inplace = True)

### 8.Linear regression:<a id='linear_reg'></a>
Now that our data is clean and ready to be used, let's try to fit it into a linear regression model.

<ul>
    <li>We begin by splitting our variables into dependant and independant variables.</li>
    <li>We create the model using the LinearRegression class.</li>
    <li>We evaluate our model using the R² score</li>
</ul>

In [21]:
# Splitting the data into dependant and independant variables
Y = df['price']
X = df.drop(['price'],axis = 1)

In [22]:
from sklearn.linear_model import LinearRegression
# To-Do : Create a linear regression model using the LinearRegression class then fit it to the data

result = LinearRegression()  

result.fit(X,Y)

LinearRegression()

In [23]:
# The function used to calculate the R² score is the method "score" found in the LinearRegression class
result.score(X, Y)

0.6412106293515036

## Conclusion:
Data preparation is a very important step in the machine learning pipeline. It is crucial to clean our data and understand it very well before we can create any model on the data.

In this notebook, we have spent 4 steps preparing our data but only 1 to create the model. This reflects how time consuming the process of data preparation is compared to the other steps as well as the importance of the quality of the data used.

In the next unit, we will see more about the models creation process and see a lot of important concepts in depth.